body {
    padding-top: 70px;
    padding-bottom: 20px;
}

td {
    padding-right: 10px;
    padding-bottom: 5px;
}

.container {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #E0E0E0;
    border-radius: 7px;
}

.unseen {
    display: none;
}

.players {
    padding-left: 15px;
}

.calendar h2 {
    padding-right: 10px;
}

.description {
    padding: 5px;
}

.footer {
    color: #777;
}

.add-self, .add-guest, .add-guest-button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.add-guest-button, .add-guest-button:hover {
    color: #333333;
    background-color: #c0c0c0;
    border-color: #ccc;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.unstyled {
    text-decoration: none !important;
    color: #000000;
}

.unstyled:hover {
    color: #6b6b6b;
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}
