<!doctype html>
<html language='en'>
<title>Games</title>
<script src='//code.jquery.com/jquery-1.11.0.min.js'></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src='static/jquery.timepicker.min.js'></script>
<link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
<link rel='stylesheet' href='static/style.css'>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel='stylesheet' href='static/jquery.timepicker.css'>
<div class='container'>
    <div class='col-lg-1'></div>
    <div class='main col-lg-10'>
        <h1 class='header'>The time for the games</h1>
        <div class='messages'>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p>{{ messages[0]|safe }}</p>
            {% endif %}
            {% endwith %}
        </div>
        <button class='add'>Add new event</button>
        <div class='form'>
            <form action='add_event' method=post>
                {{ new_event.csrf_token }}
                <table>
                    <tr><td>Title:</td><td>{{ new_event.title }}</td></tr>
                    <tr><td>Date:</td><td>{{ new_event.date(class='datepicker', id=0) }}*</td></tr>
                    <tr><td>Time:</td><td>{{ new_event.time(class='timepicker') }}*</td></tr>
                    <tr><td>Players:</td><td>{{ new_event.minimum(size=2, maxlength=2) }} to {{ new_event.maximum(size=2, maxlength=2) }}</td></tr>
                    <tr><td>Location:</td><td>{{ new_event.location }}*</td></tr>
                    <tr><td>Host:</td><td>{{ new_event.host }}*</td></tr>
                    <tr><td>Description:</td><td>{{ new_event.description }}</td></tr>
                </table>
                <p>Fields with * are required.</p>
                <input type=submit value='Add'>
            </form>
        </div>
        <div class='calendar'>
            {% for event in events %}
            <h2>#{{ event.id}}{% if event.title %}: {{ event.title }}{% endif %}</h2>
            <button class='edit-event' id='{{ event.id }}'>Edit</button>
            <form action='edit_event' class='event-editor' id='{{ event.id }}' method='post'>
                {{ edit_event.csrf_token }}
                {{ edit_event.id(value=event.id) }}
                <table>
                    <tr><td>Title:</td><td>{{ edit_event.title(value=event.title) }}</td></tr>
                    <tr><td>Date:</td><td>{{ edit_event.date(value=event.date, class='datepicker', id='pick'~event.id) }}</td></tr>
                    <tr><td>Time:</td><td>{{ edit_event.time(value=event.time, class='timepicker') }}</td></tr>
                    <tr><td>Players:</td><td>{{ edit_event.minimum(value=event.minimum, size=2, maxlength=2) }} to {{ edit_event.maximum(value=event.maximum, size=2, maxlength=2 )}}</td></tr>
                    <tr><td>Location:</td><td>{{ edit_event.location(value=event.location) }}</td></tr>
                    <tr><td>Host:</td><td>{{ edit_event.host(value=event.host) }}</td></tr>
                    <tr><td>Description:</td><td>{{ edit_event.description(value=event.description) }}</td></tr>
                </table>
                <input type=submit value='Submit'>
            </form>
            <div class='event' id='{{ event.id }}'>
                {% if event.minimum %}
                <p
                    {% if (players[ event.id ]|length + 1) < event.minimum|int() %}
                        style='background-color:red;'
                    {% elif 0 < event.minimum|int() <= (players[event.id]|length + 1) %}
                        style='background-color:green;'
                    {% endif %}
                    >Players needed: {{event.minimum}}</p>
                {% endif %}
                <p>When: {{ event.date }} at {{ event.time }}</p>
                <p>Where: {{ event.location }}</p>
                <p>{{ event.description }}</p>
                <p>Who's coming? <button class='edit-players'>Edit</button></p>
                <div class='players'>
                    <table>
                        <p>{{ event.host }}, <em>host</em></p>
                        {% for player in players[ event.id ] %}
                        <p>
                            <form action='remove_player' method='post'>{{ player.name }} <span class='remove-button'>{{ remove_player.csrf_token }}{{ remove_player.id(value=player.id) }}<input type=submit value='x'></span></form>
                        </p>
                        {% endfor %}
                        <tr>
                            <td>
                                <form action='add_player' method=post>
                                    {{ new_player.csrf_token }}
                                    {{ new_player.event_id(value=event.id) }}
                                    {{ new_player.name }}{{ new_player.email }}
                                    <input type=submit value='Add'>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% else %}
            <p><em>Nothing here. Click 'Add new event' to fix that.</em></p>
            {% endfor %}
        </div>
    </div>
</div>
<footer></footer>
<div class='col-lg-1'></div>
<script>
$('.add').click(function(){
    $('.form').show('slow');
    $(this).hide();
});
$('.edit-event').click(function(){
    var find = $(this).attr('id');
    $('#'+find+'.event-editor').show();
    $('#'+find+'.event').hide();
    $(this).hide();
});
$('.edit-players').click(function(){
    $('.remove-button').show();
    $(this).hide();
});
$(function() {
    $( '.datepicker' ).datepicker({
        dateFormat: "MM dd, yy",
        showOtherMonths: true,
        selectOtherMonths: true
    });
});
$('.timepicker').timepicker({
    minTime: '5:00pm'
});
</script>
</html>
