{% extends 'layout.html' %}
{% block body %}
        <div class='messages'>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p>{{ messages[0]|safe }}</p>
            {% endif %}
            {% endwith %}
        </div>
        <button class='add'>Add new event</button>
        <div class='form'>
            <form action='add_event' method=post>
                {{ new_event.csrf_token }}
                <table>
                    <tr><td>Title:</td><td>{{ new_event.title }}</td></tr>
                    <tr><td>Date:</td><td>{{ new_event.date(class='datepicker', id=0) }}*</td></tr>
                    <tr><td>Time:</td><td>{{ new_event.time(class='timepicker') }}*</td></tr>
                    <tr><td>Players:</td><td>{{ new_event.minimum(size=2, maxlength=2) }} to {{ new_event.maximum(size=2, maxlength=2) }}</td></tr>
                    <tr><td>Location:</td><td>{{ new_event.location }}*</td></tr>
                    <tr><td>Host:</td><td>{{ new_event.host }}*</td></tr>
                    <tr><td>Description:</td><td>{{ new_event.description(rows=3, cols=30) }}</td></tr>
                </table>
                <p>Fields with * are required.</p>
                <input type=submit value='Add'>
            </form>
        </div>
        <div class='calendar'>
            {% for event in events %}
            <h2>{% if event.title %}{{ event.title }}{%else %}#{{ event.id}}{% endif %}</h2>
            <p>{{ event.description }}</p>
            <button class='edit-event' id='{{ event.id }}'>Edit event</button>
            <form action='edit_event' class='event-editor' id='{{ event.id }}' method='post'>
                {{ edit_event.csrf_token }}
                {{ edit_event.id(value=event.id) }}
                <table>
                    <tr><td>Title:</td><td>{{ edit_event.title(value=event.title) }}</td></tr>
                    <tr><td>Date:</td><td>{{ edit_event.date(value=event.date, class='datepicker', id='pick'~event.id) }}</td></tr>
                    <tr><td>Time:</td><td>{{ edit_event.time(value=event.time, class='timepicker') }}</td></tr>
                    <tr><td>Players:</td><td>{{ edit_event.minimum(value=event.minimum, size=2, maxlength=2) }} to {{ edit_event.maximum(value=event.maximum, size=2, maxlength=2 )}}</td></tr>
                    <tr><td>Location:</td><td>{{ edit_event.location(value=event.location) }}</td></tr>
                    <tr><td>Host:</td><td>{{ edit_event.host(value=event.host) }}</td></tr>
                    <tr><td>Description:</td><td>{{ edit_event.description(rows=3, cols=30, value=event.description) }}</td></tr>
                </table>
                <input type=submit value='Submit'>
            </form>
            <div class='event' id='{{ event.id }}'>
                {% if event.minimum %}
                <p
                    {% if (players[ event.id ]|length + 1) < event.minimum|int() %}
                        style='background-color:red;'
                    {% elif 0 < event.minimum|int() <= (players[event.id]|length + 1) %}
                        style='background-color:green;'
                    {% endif %}
                    >Players needed: {{event.minimum}}{% endif %}{% if event.maximum and event.minimum %}-{{event.maximum}}
                {% elif event.maximum %}
                <p>Maximum capacity: {{event.maximum}}</p>
                {% else %}
                </p>
                {% endif %}
                <p>When: {{ event.date }} at {{ event.time }}</p>
                <p>Where: {{ event.location }}</p>

                <p>Who's coming? <button class='edit-players'>Edit guests</button></p>
                <div class='players'>
                    <table>
                        <p>{{ event.host }}, <em>host</em></p>
                        {% for player in players[ event.id ] %}
                        <p>
                            <form action='remove_player' method='post'>{{ player.name }} <span class='remove-button'>{{ remove_player.csrf_token }}{{ remove_player.id(value=player.id) }}<input type=submit value='x'></span></form>
                        </p>
                        {% endfor %}
                        {% if (event.maximum|int() > (players[ event.id ]|length + 1)) or not event.maximum %}
                        {% if user %}
                        <tr>
                            <td>
                                <form action='add_player' method=post>
                                    {{ new_player.csrf_token }}
                                    {{ new_player.event_id(value=event.id) }}
                                    <p>{{ new_player.name }} <input type=submit value='Add'></p>
                                    <p>{{ new_player.email_changes(value=0) }} Email with updates</p>
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                        {% else %}
                        At capacity!
                        {% endif %}
                    </table>
                </div>
            </div>
            {% else %}
            <p><em>Nothing here. Click 'Add new event' to fix that.</em></p>
            {% endfor %}
        </div>
<script>
$('.add').click(function(){
    $('.form').show('slow');
    $(this).hide();
});
$('.edit-event').click(function(){
    var find = $(this).attr('id');
    $('#'+find+'.event-editor').show();
    $('#'+find+'.event').hide();
    $(this).hide();
    $('#'+find+'.event-editor').find('textarea').text( $('#'+find+'.event-editor').find('textarea').attr('value') );
});
$('.edit-players').click(function(){
    $('.remove-button').show();
    $(this).hide();
});
$(function() {
    $( '.datepicker' ).datepicker({
        dateFormat: "MM dd, yy",
        showOtherMonths: true,
        selectOtherMonths: true
    });
});
$('.timepicker').timepicker({
    minTime: '5:00pm'
});
</script>
{% endblock %}
