<!doctype html>
<html language='en'>
<head>
    <title>{%block title %}Upcoming Games{% endblock %}</title>
    <link rel='stylesheet' href='/static/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/static/css/style.css'>
    <link rel="stylesheet" href="/static/css/jquery-ui-1.10.4.min.css">
    <link rel='stylesheet' href='/static/css/jquery.timepicker.css'>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/games">Upcoming Games <kbd>beta</kbd></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                {% if user %}
                <ul class="nav navbar-nav">
                    <li class='navbar-text'>Signed in as {{ user.name }}</li>
                    <li><a href='/profile'>Edit Profile</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Sign out</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav">
                    <li><span><a href="/login" class='btn btn-default navbar-btn' role='button'>Sign in using Google</a></span></li>
                    <li class="navbar-text google" data-toggle="tooltip" data-placement="bottom">Why Google?</li>
                </ul>
                {% endif %}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class='alert alert-info'>
        <p>{{ messages[0]|safe }}</p>
    </div>
    {% endif %}
    {% endwith %}
    <div class='container'>
        {% block body %}{% endblock %}
        <hr>
        <div class='footer text-right'>
            <small>Check out the source on <a href='https://github.com/stvnrlly/scheduler'>Github</a><small>
        </div>
    </div><!-- /.container -->
</body>
<script src='/static/js/jquery-1.11.1.min.js'></script>
<script src="/static/js/jquery-ui-1.10.4.min.js"></script>
<script src='/static/js/jquery.timepicker.min.js'></script>
<script src="/static/js/bootstrap.min.js"></script>
{% block js %}{% endblock %}
<script>
$('.nav li').hover(function() {
    $(this).toggleClass("active");
});
$('.google').popover({
    content:"Using Google for login allows me to avoid storing usernames and password, which is a security risk. Google doesn't get any of your personal information."
});
</script>
</html>
